.post-title{
  font-size: 20px;
}
.post-content{
  font-size: 15px;
  width: 500px;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid dimgray;
}
.post-container{
  background-color: whitesmoke;
  padding: 20px;
  width: 700px;
  margin: 30px auto;
}
.comment-container{
  margin: 0 auto 30px;
  width: 500px;
}
.comment-list{
  margin: 20px;
}
.comment-btn{
  text-align: right;
  width: 500px;
  margin: auto;
}
.each-comment{
  margin-bottom: 10px;
}
.comment-info{
  font-size: 13px;
  margin: 0;
}
.comment-delete-btn{
  color: maroon;
}